<h1>Create a column</h1>

<%= form_for(setup_column(@column)) do |f| %>
  <table>
    <thead>
      <tr><th class="category">

      </th></tr>
    </thead>
    <tbody>
      <%= f.fields_for :clues do |c| %>
        <tr><td>
          <%= c.label :position %>
          <%= c.text_field :position %>
        </tr></td>
        <tr><td>
          <%= c.label :clue %>
          <%= c.text_area :clue %>
        </td></tr>
        <tr><td>
          <%= c.label :response %>
          <%= c.text_field :response %>
        </td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>
