
<div class="form-container" class="form-group ng-cloak" ng-app="episodeForm"
                            ng-controller="episodeFormController">
<div class="data" data-id="<%= @episode.id %>"></div>
<%= render 'modal' %>
<%= form_for(@episode) do |episode| %>
  <%= render 'shared/error_messages' %>
  <!-- Episode attributes -->
  <div class="form-group">
    <%= episode.label :title %>
    <%= episode.text_field :title, class: 'form-control' %>
    <%= episode.label :season %>
    <%= episode.number_field :season, class: 'form-control'%>
    <%= episode.label :episode %>
    <%= episode.number_field :episode, class: 'form-control'%>
    <%= episode.label :air_date %>
    <%= episode.date_field :air_date, class: 'form-control' %>
  </div>
  <!-- Appearance/contestant -->
  <div class="form-group">
    <% appearance_counter = 1 %>
    <%= episode.fields_for :appearances do |appearance| %>
      <%= appearance.label "Contestant " + appearance_counter.to_s %>
      <%= appearance.collection_select :contestant_id, @contestants,
        :id, :name, {}, class: "contestants", data: {index: appearance_counter} %>
      <%= appearance.hidden_field :position, value: appearance_counter %>
      <% appearance_counter += 1 %>
    <% end %>

    <div class="seperator"></div>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
            data-target="#new-contestant">
      New contestant
    </button>
  </div>

  <% board_counter = 1 %>
  <%= episode.fields_for :boards do |board| %>
    <div class="edit-board well">
      <% if @episode.new_record? %>
        <%= board.hidden_field :round, :value => board_counter %>
      <% end %>
      <% column_counter = 1 %>
      <%= board.fields_for :columns do |column| %>
        <% if @episode.new_record? %>
          <%= column.hidden_field :position, :value => column_counter %>
        <% end %>
        <%= column.fields_for :category do |category| %>
        <table class="edit-column"><thead><tr><th>
          <div class="form-group">
            <%= category.label "Category" %>
            <%= category.text_field :name, class: 'form-control' %>
          </div>
        </th></tr></thead>
        <% end %>
        <!-- Clues -->
        <tbody>
          <% clue_counter = 1 %>
          <%= column.fields_for :clues do |clue| %>
          <tr><td class="edit-box">
            <div class="form-group">
              <% if @episode.new_record? %>
                <%= clue.hidden_field :position, :value => clue_counter %>
              <% end %>
              <%= clue.label "Clue " + (clue_counter * 250 * board_counter).to_s %>
              <%= clue.text_area :clue, class: 'form-control clue-edit'%>
            </div>
            <div class="form-group">
              <%= clue.label :correct_response %>
              <%= clue.text_field :correct_response, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= clue.label "Order", class: "inline-block" %>
              <%= clue.number_field :pick_order,
                              class: "inline-block input-narrow order" %>
              <a href="#/" class="toggle-hidden" data-target="note">
                Note
              </a> |
              <a href="#/" class="toggle-hidden" data-target="daily-double">
                DD
              </a> |
              <a href="#/" class="toggle-hidden" data-target="attachment">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </a>
            </div>
            <div class="form-group daily-double hidden">
              <%= clue.label "DD Wager: " %>
              <%= clue.number_field :dd_wager, class: 'form-control'%>
            </div>
            <div class="form-group incorrect-responses">
              <%= clue.nested_fields_for :responses do |response| %>
                <%= response.label :response %>
                <%= response.text_field :response, class: 'form-control' %>
                <%= response.label "Contestant" %>
                <%= response.select :contestant_id, [1,2,3], {},
                                    class: 'response-contestant form-control' %>
                <%= response.check_box :is_correct %>
                <%= response.label "Is correct" %>
                <%= response.remove_nested_fields_link 'X',
                    class: 'btn btn-xs btn-danger pull-right' %>
              <% end %>
              <%= clue.add_nested_fields_link :responses %>
            </div>
            <div class="form-group note hidden">
              <%= clue.label "Note" %>
              <%= clue.text_field :note, class: 'form-control' %>
            </div>
            <div class="form-group attachment hidden">
              <%= clue.label :image_url %>
              <%= clue.text_field :image_url, class: 'form-control' %>
            </div>
          </td></tr>
          <% clue_counter += 1 %>
          <% end %>
        </tbody></table>
        <% column_counter += 1 %>
      <% end %>
    </div>
    <% board_counter += 1 %>
  <% end %>
  <!-- Final -->
  <section id="final" class="fixed-width">
    <h2>Final</h2>
    <%= episode.fields_for :final do |final| %>
      <%= final.fields_for :category do |category| %>
        <div class="form-group">
          <%= category.label "Category" %>
          <%= category.text_field :name, class: 'form-control' %>
        </div>
      <% end %>
      <div class="form-group">
        <%= final.hidden_field :is_fj, :value => true %>
        <%= final.label :clue %>
        <%= final.text_area :clue, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= final.label :correct_response %>
        <%= final.text_field :correct_response, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= final.nested_fields_for :responses do |response| %>
          <%= response.label "Response" %>
          <%= response.text_field :response, class: 'form-control' %>
          <%= response.label "Contestant" %>
          <%= response.select :contestant_id, [1,2,3], {},
                              class: 'response-contestant form-control' %>
          <%= response.label :wager %>
          <%= response.number_field :wager, class: 'form-control' %>
          <div class="checkbox">
            <label>
              <%= response.check_box :is_correct%>
              Correct
            </label>
          </div>
          <div class="seperator"></div>
        <% end %>
        <%= final.add_nested_fields_link :responses %>
      </div>
      <div class="form-group attachment">
        <%= final.label :image_url %>
        <%= final.text_field :image_url, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= final.label :note %>
        <%= final.text_area :note, class: "form-control" %>
      </div>

    <% end %>

    <%= episode.submit "Save", class: "btn btn-primary" %>
  </section>
<% end %>

</div>
