<div class="container">
  <h3><%= @episode.air_date %></h3>
  <span class="h1"><%= @episode.title %>
    <%= link_to "Index", episodes_path, class: "h4 link" %>
    <% if user_signed_in? && owner_or_admin(@episode.owner) %>
      <%= link_to "Edit", edit_episode_path(@episode), class: "h4 link" %>
      <%= link_to "Delete", episode_path(@episode), method: :delete,
                          data: {confirm: "Are you sure?"}, class: "h4 link" %>
    <% end %>
  </span>
  <div class="seperator"></div>
  <ul>
    <% @episode.contestants.each do |contestant|%>
        <li><span class="h4">
          <%= link_to contestant.name, contestant_path(contestant) %></span>,
          <%= contestant.note %></li>
    <% end %>
  </ul>
  <% @episode.boards.each do |board| %>
    <table class="board full-round"><thead><tr>
      <% board.columns.each do |column| %>
        <th class="category box"><%= column.category.name %></th>
      <% end %>
    </tr></head>
    <tbody>
      <% (0...board.columns[0].clues.length).each do |i| %>
        <tr><% board.columns.each do |column| %>
          <% clues = column.clues.order(:position) %>
          <% clue = clues[i] %>
          <td class="clue box">
            <table class="clue-table">
              <thead><tr><th class="clue-header">
                <%= clue.value %>
                <span class="pull-right pick-order"><%= clue.pick_order %></span>
              </th></tr></thead>
              <tbody><tr><td class="clue-body">
                <span class="clue">
                  <%= clue.clue %>
                  <% if !clue.image_url.blank? %>
                    <a href="<%= clue.image_url %>" data-toggle="lightbox"
                      data-title="<%= clue.category_name %>"
                      data-footer="<%= clue.clue %>" class="image-link">
                      <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </a>
                  <% end %>
                </span>

                <span class="response hidden">
                  <% triple_stumper = true %>
                  <% clue.responses.each do |response| %>
                    <% triple_stumper = false if response.is_correct %>
                    <% style = response.is_correct ? 'correct' : 'incorrect' %>
                    <h4 class="<%= style %>">
                      <%= response.contestant.name + ': ' + response.response %>
                    </h4>
                  <% end %>
                  <% if triple_stumper %>
                    <h4 class="incorrect">Triple Stumper</h4>
                    <h4><%= clue.correct_response %></h4>
                  <% end %>
                </span>
              </td></tr></tbody>
            </table>
          </td>
        <% end %></tr>
      <% end %>
    </table>
    <div class="seperator"></div>
  <% end %>
  <table class="final board">
    <% final = @episode.final %>
    <thead><th class="category box final">
      <%= final.category %>
    </th></thead>
    <tbody><td class="clue box final">
      <table class="clue-table">
        <tbody><tr><td class="clue-body">
          <span class="clue">
            <%= final.clue %>
            <% if !final.image_url.blank? %>
              <a href="<%= final.image_url %>" data-toggle="lightbox"
                data-title="<%= final.category_name %>"
                data-footer="<%= final.clue %>" class="image-link">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </a>
            <% end %>
          </span>
          <span class="response hidden">
            <% triple_stumper = true %>
            <% final.responses.each do |response| %>
              <% triple_stumper = false if response.is_correct %>
              <% style = response.is_correct ? 'correct' : 'incorrect' %>
              <h4 class="<%= style %>">
                <%= response.contestant.name + ': ' + response.response +
                  '(' + response.wager.to_s + ')'%>
              </h4>
            <% end %>
            <% if triple_stumper %>
              <h4 class="incorrect">Triple Stumper</h4>
            <% end %>
            <h4><%= final.correct_response %></h4>
          </span>
        </td></tr></tbody>
      </table>
    </td></tbody>
  </table>
  <div class="seperator"></div>
  <% @episode.appearances.each do |appearance| %>
    <%= appearance.contestant.name %> <%= appearance.total %> <br>
  <% end %>
</div>
