
<div class="container fixed-width">
  <%= render partial: 'search' %>
  <h1>Games</h1>
  <div class="list-group">
    <% @games.each do |game| %>
      <%= link_to game_path(game),
        class: 'list-group-item list-group-item-action' do%>
        S<%= game.season %>E<%=game.episode%> <%= game.title %>
        <span class="pull-right"><%= game.air_date %></span>
      <% end %>
    <% end %>
  </div>
</div>
