<div class="container">
  <h1><%= @game.title %></h1>
  <h3><%= @game.air_date %></h3>
  <% @game.boards.each do |board| %>
    <table class="board"><thead><tr>
      <% board.columns.each do |column| %>
        <% logger.debug "Column id (category): " + column.id.to_s %>
        <% logger.debug "CATEGORY: " + column.category.name %>
        <th class="category box"><%= column.category.name %></th>
      <% end %>
    </tr></head>
    <tbody>
      <% (0...board.columns[0].clues.length).each do |i| %>
        <tr><% board.columns.each do |column| %>
          <% clue = column.clues[i] %>
          <td class="clue box">
            <span class="clue">
              <%= clue.clue %>
              <% if !clue.attachment.blank? %>
                <a href="#" class="image-link" data-link="
                  <%= clue.attachment.url %>">
                  <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
              <% end %>
            </span>
            <span class="response hidden"><%= clue.response %></span>
          </td>
        <% end %></tr>
      <% end %>
    </table>
    <div class="seperator"></div>
  <% end %>
  <table class="final">
    <thead><th class="category box final">
      <%= @game.final.category %>
    </th></thead>
    <tbody><td class="clue box final">
      <span class="clue"><%= @game.final.clue %></span>
      <span class="response hidden"><%= @game.final.response %></span>
    </td></tbody>
  </table>
  <div class="seperator"></div>
</div>
<div class="modal clue-image">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
