<!DOCTYPE html>
<html>
  <head>
    <title>SjArchive</title>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/8702ac210d.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  <body>

  <div class="container-fluid main">
    <%= yield %>
  </div>
  <footer>
    <%= debug(params) if Rails.env.development? %>
  </footer>
  </body>
</html>
