<h1>Create a clue</h1>
<%= form_for(@clue) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="form-group">
    <%= f.label "Category" %>
    <%= f.text_field :cat, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :clue %>
    <%= f.text_area :clue, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :response %>
    <%= f.text_field :response, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>
  <%= f.submit "Create clue", class: "btn btn-primary" %>
<% end %>
